body {
    text-align: center;
    background:url("https://images.unsplash.com/photo-1535043498887-a5a9fb4dd782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
}
form {
    display: inline-block;
}
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
#form1{
  height: 80vh;
  width:50vh;
  background: #dde1e7l;
  box-shadow:inset -3px -3px 5px #ffffff70,inset 3px 3px 15px #00000070;
}